@-webkit-keyframes animation-box {
    from {
        background: #3d0000;
    }

    to {
        background: red;
    }
}


.disappear-animation {
    animation: disappear 1s ease forwards; /* Ajuste o tempo de acordo com a duração da sua animação */
}

body {
    background-color: rgb(0, 0, 0);
    margin: 0;
}

#heart {
    transition: transform 0.5s ease;
    cursor: pointer;
    max-width: none;
    background-color: red;
    height: 20vi;
    transform: rotate(-45deg) scale(0.5);
    width: 20vi;
    position: relative;
    animation-name: animation-box;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: alternate;
}

#heart:before,
#heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 20vi;
    position: absolute;
    width: 20vi;
    animation-name: animation-box;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: alternate;
}
#heart-icon:active {
    display: none;
}


#heart:before {
    top: -10vi;
}

#heart:after {
    left: 10vi;
}
#heart:hover {
   
    transform: scale(1)  rotate(-45deg);
}



